#home{
    margin-left: 20%;
    margin-right: 3%;
    margin-bottom: 100px;
}
.MuiOutlinedInput-root {
    position: relative;
    border-radius: 20px!important;
}
.MuiBottomNavigationAction-root{
    min-width: 0px!important;
}
.MuiCardActions-root {
    justify-content: center;
}
#networkimg{
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: center;

}
#news{
    height:3300px;
    /* background:red; */
}
.MuiBox-root{
    padding: 0px!important;
}
.MuiList-padding{
    width: 100%;
}
#sidebarclose{
    margin: 10px;
    padding-bottom: 30px;
    margin-left: 80%;
    margin-top: -50px;
    display: none;
}
.MuiBadge-anchorOriginBottomRightRectangle {
    right: 15px!important;
    border-radius: 100%!important;
    width: 20px!important;
    height: 20px!important;
    bottom: 5px!important;
    transform: scale(1) translate(50%, 50%);
    transform-origin: 100% 100%;
}
#cardimgback{
    z-index: -1;
}
#cardclosebtn{
    float: right;
    margin-right: 2%;
    margin-top: -80px;
   
}

@media only screen and (max-width: 600px) {
    #home{
        margin-left:2%;
    }
    #sidebarclose{
        margin: 10px;
        padding-bottom: 30px;
        margin-left: 80%;
        margin-top: -50px;
        display: block;
    }
    
    #news{
        display: none;
    }
    #cardclosebtn{
        /* margin-top: -75%; */
        margin-left: 75%;
    }
    
  }
